#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  width: 60em;
  height: 40em;
  background-color: rgba(0, 255, 255, 0.288);
  border-radius: 2em;
}